<div class="side-bar-container" layout-align="center center">
  <div class="profile-pic" layout="column" layout-align="center center">
    <i md-icon >account_circle</i>
    <p> {{_salesforceService.user.name}} </p>
  </div>
  <div class="items" layout="column" layout-align="center center">
    <button md-raised-button class="button-item">
      <div  layout="row" layout-align="center center">
        <i md-icon >data_usage</i> <span class="button-text">Dashboard</span>
      </div>
    </button>
    <button md-raised-button class="button-item">
      <div  layout="row" layout-align="center center">
        <i md-icon >queue</i> <span class="button-text">Projects</span>
      </div>
    </button>
  </div>
</div>

<!-- JoWTE1qRQnh3cu9nQdfP8edGh -->
